{% extends 'forabout.html' %}

{% load static %}
{% block title %}about{% endblock %}



{% block content %}
<div class="container">
  <p class="title">
    <span class="title-word title-word-1">
 The main objective of Gated Community Management System </span>
      <span class="title-word title-word-2">is to provide an easier way of communication and raising request </span>
      <span class="title-word title-word-3">in a
    gated community like apartments and villas </span>
      <span class="title-word title-word-4">which has always uses service providers for their</span>
      <span class="title-word title-word-1">electrical and plumbing requirements.</span>
      <span class="title-word title-word-2">By generalizing this project as a solution so that Tenants</span>
      <span class="title-word title-word-3">and Service providers can communicate through this software</span>
      <span class="title-word title-word-4">for raising and clearing the service requirements in an easy way.</span>
      <span class="title-word title-word-1">The resident manager can maintain the user’s </span>
      <span class="title-word title-word-4">personal and contact details.</span>
  </p>
</div>

{% endblock %}